:root {
  /* COLORS */
  --yellow: #fcf6b1;
  --gray: #eeeeee;
  --dark-gray: #929aab;
  --white: #fff;
  --black: #393e46;

  /* COMPONENTS COLORS */
  --bg-color: var(--white);
  --main-text-color: var(--black);
  --secondary-text-color: var(--dark-gray);
  --button-color: var(--gray);
  --transparent-button-text-color: var(--yellow);
  --badge-color: var(--yellow);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
