:root {
  /* COLORS */
  --yellow: #fcf6b1;
  --gray: #eeeeee;
  --dark-gray: #929aab;
  --white: #fff;
  --black: #393e46;
  --green: #a9e5bb;
  --red: #e3170a;

  /* COMPONENTS COLORS */
  --bg-color: var(--white);
  --main-text-color: var(--black);
  --secondary-text-color: var(--dark-gray);
  --button-color: var(--gray);
  --transparent-button-text-color: var(--yellow);
  --image-badge-color: var(--yellow);
  --counter-badge-color: var(--green);
  --counter-badge-text-color: var(--white);

  /* SIZING */
  --parent-component-margin: 12px 20px 0;
}

@media screen and (min-width: 600px) {
  :root {
    --parent-component-margin: 25px 50px 0;
  }
}

html,
body {
  width: 100vw;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: var(--parent-component-margin);
  margin: 0;
}

.hideScrollbar {
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-right: 15px;
  position: fixed;
}

.rounded {
  border-radius: 0.625rem;
}
