.image {
  width: fit-content;
  max-width: 280px;
  max-height: 140px;
  object-fit: cover;
  border-radius: 0.625rem;
}

@media screen and (min-width: 600px) {
  .image {
    max-width: 400px;
    max-height: 200px;
  }
}

.badge {
  background-color: var(--image-badge-color);
  position: absolute;
  top: -0.63rem;
  right: 0.63rem;
}

.darkened {
  filter: brightness(30%);
  transition: filter var(--animation-duration);
}
