.position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.loader {
  background-color: var(--white);
  opacity: 0.6;
  transform-origin: left center;
}
